<section class="px-6 lg:px-32 md:py-12 flex flex-col items-center bg-gradient-to-br from-slate-100 to-slate-700">
    <div class="flex justify-between p-12 bg-gray-50 rounded-3xl shadow-lg">
        <div class="w-1/2">
            <h1 class="text-2xl font-bold text-[#3a2c5f]">ABOUT US</h1>
            <h2 class="text-3xl font-bold max-w-[800px]">PASSIONATE ABOUT AUTOMOTIVE EXCELLENCE</h2>
            <img src="assets\images\Screenshot 2025-11-17 224527.png" class="rounded-xl max-w-[700px] mt-5" alt="building">
        </div>
        <div class="w-1/2 font-oswald text-2xl pl-10 flex items-center">
            At KRH Auto Body, we’re bringing vehicles back to life with our restoration services,
            custom paint work, and collision repair. With years of experience and a passion for
            perfection, restoring classic cars to their former glory, transforming vehicles with unique
            custom finishes, and getting you back on the road safely after an accident is what we
            take pride in. Whether you’re seeking to revive a vintage ride, personalize your car’s
            appearance, or repair collision damage, our commitment to excellence and attention to
            detail ensure your vehicle receives the care it deserves.
        </div>
    </div>
</section>
